body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(to bottom, #1c1c1c, #343a40);
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

h3, h4 {
    color: #343a40;
}

.card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.about {
    background-color: #e9ecef;
}

/* Animação suave ao rolar a página */
html {
    scroll-behavior: smooth;
}
